MONGODB_URI=mongodb://mongodb:27017/chatapp
PORT=8000

## Email configuration
EMAIL_USERNAME=#EMAIL_USERNAME#
EMAIL_APP_PASSWORD=#EMAIL_APP_PASSWORD#

BACKEND_URL="http://localhost:8000"
CLIENT_URL="http://localhost:3000"

ACCESS_TOKEN_SECRET_KEY = "fcbddc87d8ce5288a3c6eb35bc30e28d964830e309b98db650237121e7e0e5df"
REFRESH_TOKEN_SECRET_KEY = "3fb14125fc41ae5cc269fc0ae0a7601eda3964f17bc1704c367816bdbf9a1e6f"

## Google OAuth configuration
GOOGLE_CLIENT_ID=#GOOGLE_CLIENT_ID#

REDIS_HOST=redis
REDIS_PORT=6379

## Cloudinary configuration
CLOUDINARY_API_KEY = #CLOUDINARY_API_KEY#
CLOUDINARY_SECRET_KEY = #CLOUDINARY_SECRET_KEY#
CLOUDINARY_NAME = #CLOUDINARY_NAME#

NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=#GOOGLE_CLIENT_ID#
NEXT_PUBLIC_SOCKET_URL=http://localhost:8000